html {

  body {
    display: flex;
    justify-content: center;
    
    .App {
      width: 450px;
      max-height: 900px;
      padding: 1rem;
      background-color: #75b6ed;
      
      .bucketListScene{

        .BucketListHeader {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;
          height: 8rem;
          margin-bottom: 1rem;
          
          .headerUtilities{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 20%;
          }
            
          h1{
            margin-right: 3.5rem;
          }
          
        }
  
        #bucketListProgress{
          display: flex;
          justify-content: flex-end;
          font-size: .8rem;
        }
        
        .navTabs {
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          
          #activeTab {
            width: 50%;
            border-right: 1px solid gray;
          }
          #achievedTab {
            width: 50%;
          }
        }
  
        .bucketListBody {
          height: 100%;
          margin-top: 1rem;
        
          .bucketListItem{
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            border: 1px solid red;
            padding: .5rem;
            
            .itemDetails{
              padding: .5rem;
            }
            
            h3 {
              margin: 0;
            }
            
            p {
              font-size: .8rem;
            }
            
            img {
              width: 20%;
              height: 10%;
            }
            
          }
          
        }
        
        .buttonContainer {
          display: flex;
          justify-content: flex-end;
          
          #addItemButton {
            text-decoration: none;
            color: black;
            margin-top: .7rem;
            padding: .5rem .7rem;

            border: 1px solid red;
          }
        }
      }
    }
    .footerTabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      text-align: center;

      #bucketListTab{
        text-decoration: none;
        color: black;
        width: 33%;
        border-right: 1px solid gray;
      }
      
      #categoriesTab{
        text-decoration: none;
        color: black;
        width: 33%;
        border-right: 1px solid gray;
        
      }
      #settingsTab{
        text-decoration: none;
        color: black;
        width: 33%;        
      }
    }
  }
}
